html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-color: black;
  font-family: "Lato", "Open Sans", "Helvetica Neue";
}

#game-container {
  background-size: cover; 
  background-position: center;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.avatar-box {
  background-color:  #403f46;
  border: solid 0.1vw #cc1313;
  border-style: double;
  display: inline-block;
  width: 8.6vw;
  height: 15vw;
  text-align: center;
  margin: 0.7vw;
  margin-top: 1vw;
  padding: 0.4vw;
  position: relative;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}

.avatar-name {
  color: white;
  font-size: 1vw;
  margin: 0.4vw;
  padding: 0.4vw;
}

.avatar-health {
  background-color: #cc1313;
  border-radius: 10px;
  color: white;
  font-size: 1vw;
  margin: 0.4vw;
  padding: 0.4vw;
  font-weight: 800;
}

#text {
  position: relative;
  width: 28vw;
  padding: 1vw;
  color: #cc1313;
  font-size: 20px;
}

#fight-box {
  color: white;;
  width: 21vw;
  padding: 1vw;
  text-align: justify;
}

#defender {
  display: flex;
  flex-direction: row;
}

.avatar-box:hover {
    background-color: orange;
    cursor: pointer;
    transform: scale(1.2);
  }

#your_char .avatar-box:hover {
    background-color: green;
    cursor: pointer;
  }
  

#defender .avatar-box:hover ,
#enemies .avatar-box:hover {
  background-color: red;
  cursor: pointer;
}

.avatar-box img{
  width: 8vw;
  height: 9.5vw;
}


#defender .avatar-box:hover,
#your_char .avatar-box:hover  {
  transform: scale(1);
}

#your_char .avatar-box:hover {
  cursor: auto;
}