body {
  font-family: "Lato", "Open Sans", "Helvetica Neue";
}

.avatar-box {
  background-image: linear-gradient(to top, navy, #463f42);
  border: solid 2px #ff8300aa;
  border-style: double;
  opacity: 0.8;
  display: inline-block;
  height: 200px;
  text-align: center;
  margin: 10px;
  margin-top: 15px;
  padding: 5px;
  position: relative;
}

.avatar-name {
  color: white;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
}

.avatar-health {
  background-color: #ff8300;
  border-radius: 10px;
  color: rgb(82, 74, 77);
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  font-weight: 800;
}

#text {
  position: relative;
  width: 400px;
  margin-top: 20px;
  margin-left: 10px;
  color: white;
  padding: 7px;
  font-size: 20px;
}

#fight-box {
    color: white;
    width: 400px;  
}

#defender {
    display: flex;
    flex-direction: row;
}